%Similars {
  padding: 0;
  margin: 0;
  border-radius: 27px;
  height: auto;
  min-height: 500px;
  width: min(100vw, 500px);
  box-sizing: border-box;
}

%auto-adjust-btns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  > button {
    width: 46%;
    margin: 1% 2%;
    box-sizing: border-box;
  }

  // Always select the very last odd element
  > button:nth-child(odd):last-child {
    width: 100%;
  }
}

$bgColor: rgba(124, 124, 128, 1);
$white: rgba(250, 250, 255, 1);
$textColor: rgba(84, 84, 86, 1);
