%Similars {
  padding: 0;
  margin: 0;
  border-radius: 27px;
  height: min(100vw, 500px);
  width: min(100vw, 500px);
  box-sizing: border-box;
}

$bgColor: rgba(124, 124, 128, 1);
$white: rgba(250, 250, 255, 1);
$textColor: rgba(84, 84, 86, 1);
